logging:
  file: server.log

spring:
  redis:
    host: localhost
    password:
    port: 6379
    timeout: 600  # 数据库连接超时时间，2.0 中该参数的类型为Duration，这里在配置的时候需要指明单位
    jedis:
      pool:
        # 最大空闲连接数
        max-idle: 100
        # 最小空闲连接数
        min-idle: 1
        # 最大活跃连接数，负数为不限制
        max-active: 1000
        # 等待可用连接的最大时间，负数为不限制
        max-wait: -1